* {
    margin: 0;
    
    body {
        display: flex;
        justify-content: center;
        .sessao {
            width: 350px;
            height: 100vh;
            text-align: center;
            background-color: rgb(185, 28, 206);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h2 {//Jogo Iniciado
                color: white;
                margin-bottom: 10px;
            }
            h3 {//Digite a resposta
                font-size: 18px;
                font-style: oblique;
                color: yellow;
                margin-top: 10px;
                
            }
            .quadrado {
                margin: 80px 0; 
                background-color: green;
                width: 90%;
                height: 150px;
                border-radius: 10px;
                box-shadow: 2px 2px 2px black;
                display: flex;
                justify-content: space-around;
                align-items: center;

                .multiplicacao{
                    color: white;
                    font-size: 40px;
                        
                }
                .resposta {
                    width: 100px;
                    height: 100px;
                    border-radius: 7px;
                    font-size: 50px;
                    
                }
            }
            .feedbackJogada {
                background-color: white;
                box-shadow: 1px 2px 2px black;
                border-radius: 3px;
                animation: ease 500ms;
                &.quandoCorreto {
                    color: rgb(16, 177, 16);
                }
                &.quandoIncorreto {
                    color: red;
                }
            }
            
        }
    }

}